<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>

    <table style=" width: 100%; border: 4px double black;">
        <tr>
            <td style="border: 1px solid black; text-align: center">
                <br>
                <form action="/transaction" method="post">
                    senderName: <input type="text" name="senderName"/> <br> <br>
                    senderPass: <input type="password" name="senderPass"/> <br> <br>
                    count: <input type="number" name="count"/> <br> <br>
                    nameTo: <input type="text" name="nameTo"/> <br> <br>
                    <input type="submit" value="Submit"> <br> <br>
                </form>
            </td>
        </tr>
    </table>
</table>
</body>
</html>