<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>

    <table style=" width: 100%; border: 4px double black;">
        <tr>
            <td style="border: 1px solid black; text-align: center">
                <br>
                <form action="/registration" method="post">
                    name: <input type="text" name="name"/> <br> <br>
                    password: <input type="password" name="password"/> <br> <br>
                    money: <input type="number" name="money"/> <br> <br>
                    <input type="submit" value="Submit"> <br> <br>
                </form>
            </td>
        </tr>
    </table>
</table>

<form>
</form>

</body>
</html>

